.brewery-heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.brewery-logo {
    float: left;
    border-radius: 10px;
    margin-right: 1rem;
    max-width: 100px;
}

.brewery-address {
    clear: none;
}

.breweries {
    margin-bottom: 40px;
}

.beer-card {
    max-width: 360px;
}

.card-image {
    float: left;
    border-radius: 10px;
    margin-right: 1.5rem;
    max-width: 100px;
}

.card-description {
    clear: both;
}

.loading {
    margin-top: 20vh;
    text-align: center;
}

.status-message {
    margin: 15vh auto 0 auto;
    text-align: center;
    size: 1.5rem;
    width: 80%;
}

.untappd-logo {
    /*max-width: 125px;*/
    text-align: center;
    margin-top: 10vh;
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .card-columns {
        column-count: 3;
    }

    .beer-card {
        max-width: 305px;
    }
}

@media screen and (max-width: 1000px) {
    .card-columns {
        column-count: 2;
    }

    .beer-card {
        max-width: 470px;
    }
}

@media screen and (max-width: 767px) {
    .card-columns {
        column-count: 1;
    }

    .beer-card {
        max-width: 750px;
    }
}

@media screen and (max-width: 575px) {
    .card-columns {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .brewery-logo {
        max-width: 75px;
    }

    .brewery-address {
        clear: both;
        margin-top: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 374px) {
    .brewery-logo {
        max-width: 75px;
    }

    .brewery-address {
        clear: both;
        margin-top: 2rem;
        text-align: center;
    }
}
