.brewery-heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.brewery-logo {
    float: left;
    border-radius: 10px;
    margin-right: 1rem;
    max-width: 100px;
}

.brewery-address {
    clear: none;
}

.breweries {
    margin-bottom: 40px;
}

.beer-card {
    min-width: 300px;
    max-width: 360px;
}

.card-image {
    float: left;
    border-radius: 10px;
    margin-right: 1.5rem;
    max-width: 100px;
}

.card-description {
    clear: both;
}

.filter-caret {
    display: inline;
    margin-left: 0.25rem;
    vertical-align: middle;
    line-height: normal;
}

.filter-label {
    display: inline;
    vertical-align: middle;
    line-height: 1px;
}

.filter-toggle {
    width: 100px;
    margin: 0 auto;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.filter-container {
    background-color: #f8f9fa;
    border-radius: 5px;
    margin: 10px auto;
    overflow: auto;
    max-height: 0px;
}

.filter-container-open {
    animation-name: filter-container-open-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.filter-container-close {
    animation-name: filter-container-close-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.filter-controls {
    /*width: 50%;*/
    padding: 0 1rem;
    text-align: center;
    margin: 10px auto;
}

.filter-controls-open {
    animation-name: filter-controls-open-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.filter-controls-close {
    animation-name: filter-controls-close-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.filter-input-field {
    /*width: 100%;*/
}

.loading {
    margin-top: 20vh;
    text-align: center;
}

.status-message {
    margin: 15vh auto 0 auto;
    text-align: center;
    size: 1.5rem;
    width: 80%;
}

.untappd-logo {
    /*max-width: 125px;*/
    text-align: center;
    margin-top: 10vh;
    opacity: 0.7;
}

@keyframes filter-container-open-animation {
    from {
        max-height: 0px;
    }
    to {
        max-height: 500px;
    }
}

@keyframes filter-container-close-animation {
    from {
        max-height: 500px;
    }
    to {
        max-height: 0px;
    }
}

@keyframes filter-controls-open-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes filter-controls-close-animation {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 1200px) {
    .card-columns {
        column-count: 3;
    }

    .beer-card {
        max-width: 305px;
    }
}

@media screen and (max-width: 1000px) {
    .card-columns {
        column-count: 2;
    }

    .beer-card {
        max-width: 470px;
    }
}

@media screen and (max-width: 767px) {
    .beer-card {
        min-width: 555px;
    }

    .card-columns {
        column-count: 1;
    }

    .beer-card {
        max-width: 750px;
    }
}

@media screen and (max-width: 575px) {
    .beer-card {
        min-width: 430px;
    }

    .card-columns {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .beer-card {
        min-width: 380px;
        max-width: 360px;
    }

    .brewery-logo {
        margin-bottom: 1rem;
    }

    .brewery-address {
        clear: both;
        /*margin-top: 2rem;*/
        text-align: center;
    }

    .brewery-name {
        margin-bottom: 1rem;
    }

    .card-columns {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .beer-card {
        min-width: 340px;
        max-width: 360px;
    }

    .brewery-logo {
        max-width: 75px;
        margin-bottom: 1rem;
    }

    .brewery-address {
        clear: both;
        /*margin-top: 2rem;*/
        text-align: center;
    }

    .brewery-name {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 374px) {
    .beer-card {
        min-width: 285px;
        max-width: 360px;
    }

    .brewery-logo {
        max-width: 75px;
        margin-bottom: 1rem;
    }

    .brewery-address {
        clear: both;
        /*margin-top: 2rem;*/
        text-align: center;
    }

    .brewery-name {
        margin-bottom: 1rem;
    }
}
